@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">If this is your first time please join! If you are returning please log-in below to view your messages.</p>
    <p><a class="btn btn-default" onclick="location.href='@Url.Action("Login", "Account")' ">Log-in </a></p>
</div>

